:root {
  --basic-black: #000000;
  --basic-light-black: #283136;
  --basic-white: #FFFFFF;
  --basic-grey: #666666;
  --basic-dark-grey: #444444;
  --basic-grey-white: #EEEEEE;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-light-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.header-link {
  font-size: 16px;
  line-height: 30px;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  list-style: none;
}

.main-navigation a:hover,
.main-navigation a:focus, 
.user-navigation a:hover, 
.user-navigation a:focus {
  color: var(--basic-red);
}

.basket {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.feature-link {
  background-color: var(--basic-red);
  color: var(--basic-white);
  height: 50px;
  left: 140px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  width: 240px;
  text-transform: uppercase;
}

.feature-menu {
  list-style: none;
}

.feature-list {
  text-align: center;
}

.feature-heading {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.feature-item h2{
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.feature-item {
  list-style: none;
}

.button-red {
  background-color: var(--basic-red);
  color: var(--basic-white);
  height: 50px;
  left: 140px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  width: 160px;
  text-transform: uppercase;
}

.button-green {
  background-color: var(--basic-green);
  color: var(--basic-white);
  height: 50px;
  left: 140px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  width: 160px;
  text-transform: uppercase;
}

.button-yellow {
  background-color: var(--basic-yellow);
  color: var(--basic-white);
  height: 50px;
  left: 140px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  width: 160px;
  text-transform: uppercase;
}

.benefit-menu h1 {
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.benefit-image figcaption {
  color: var(--basic-black);
}

.benefit-item span {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.caption {
  color: var(--basic-black);
  text-transform: uppercase;
}

.benefit-item p {
  font-size: 16px;
  line-height: 18px;
}

.benefit-item {
  list-style: none;
  padding: 0;
}

.benefit-list {
  list-style: none;
}

.benefit-logo {
  list-style: none;
}

.footer-contacts h2 {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-grey);
}

.footer-phone {
  text-decoration: none;
  color: var(--basic-light-black);
}

.button-footer {
  background-color: var(--basic-red);
  color: var(--basic-white);
  height: 50px;
  left: 140px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  width: 219px;
  text-transform: uppercase;
}

.modal-popup h2 {
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.footer-text h2 {
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-text p {
  font-size: 16px;
  line-height: 22px;
  color: var( --basic-dark-grey);
}

.footer-item {
  list-style: none;
}

.header-haeding {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.page-title {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.button {
  background-color: var(--basic-grey-white);
  color: var(--basic-black);
  width: 260px;
  height: 50px;
  left: 723px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}